.header {
    height: 95vh;
    /* coveruje 95 posto viewportheight */
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)),
        url(../img/hero.jpg);
    /* koristi dve slike - prva slika je gradijent zelene boje izmedju dve ponudjene koja raste od desna gore ka dole levo, druga pozadinska slika je url slika */
    background-size: cover;
    /* coveruje citav viewport */
    background-position: top;
    /* pokazuje kako da kropuje, u ovom slucaju kropuje odozdo ili sa strana anchorovanjem za top  */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    /* specifikacija poligona koji odseca sliku */
    position: relative;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
